body {
    padding: 0;
    margin: 0;
    font-family: 'Barriecito', cursive;
}

.container {
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 22%;
    height: 100%;
    background-color: rgb(199, 199, 199);
}

.profile-image {
    display: inline;
    margin: 0 auto 0 -25px;
    height: 100%;
    width: auto;
}

.profile-image-circle-container {
    width: 92px;
    height: 92px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #000000;
}

.main {
    width: auto;
    height: 100%;
    background-color: rgb(227, 227, 226);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 15%;
}

.header-container {
    width: 83%;
    height: 313px;
    margin: 58px 0 0 70px;
    background-color: #ffffff;
    padding: 20px 0 50px 0;
    border-radius: 30px;
    text-align: center;
}

.header-subtext {
    margin: 0 41px;
}

.main-heading {
    font-size: 62px;
}

.main-content {
    margin: 58px 0 0 70px;
}

.text-input-field {
    width: 430px;
    height: 45px;
    border-radius: 6px;
    margin: 9px 0;
    padding: 0;
    border: 1px solid rgb(21, 127, 251);
}

.submit-btn {
    width: 114px;
    height: 46px;
    border-radius: 3px;
    background-color: rgb(21, 127, 251);
    border: 1px solid rgb(21, 127, 251);
    color: rgb(236, 245, 255);
    outline: 0;
}

.items-list {
    display: inline-block;
}

.left-arrow-image {
    width: 13px;
    margin: 47px 0 37px 32px;
}

.notes {

}

.notes-icon {
    width: 13px;
    margin: 60px 22px 16px 31px;
}

.notes-icon-text {
    display: inline;
}

.sign-out {
    margin: 130px 0 60px 31px;
}